

<div class="mt-16 ">
    <img src="{{component.title_image}}" alt="" class="">
    <div class="flex justify-center ">
<div class="container p-5 m-4 grid xs:grid-col-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6  justify-center">
{% for cat in component.all_categorires %}
<a href="{{cat.cat_url}}" class="">
    <img class="img" src="{{cat.cat_img}}"/>
</a>
{% endfor %}
</div>
</div>
</div>
<style>
    .all{
        display:flex;
        flex-direction: row;
        
    }
    .img{
        width:150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;
    }
    .x{
        color:red
    }
</style>
