
<div class="container px-16 ">

 <salla-products-slider source="categories" source-value="{{component.slidercategory[0].id}}" show-controls="false"  style=" color:white; height:50%"
 class="s-products-slider-wrapper hydrated" limit="20" autoplay  display-all-url=""
 block-title="hhhhhhhhhhhhhhh Palo" block-subtitle="" slider-id="slider-with-bg-5">
 <salla-product-card
  minimal="true"
full-image="false"
  special="false">
 </salla-product-card>
</salla-products-slider>
</div>
