<div class=" conteiner nx-3  w-[100vw] my-5" style="position: relative ; ">
<a href="https://zekraa.com/neom10.com/c735783655">
    <img class="w-[100vw]" src="{{component.image}}" />
    </a>
 

  
   </div>
 
 </div>
