<div class=" conteiner   w-[100vw] my-5" style="position: relative ; ">
<a href="https://salla.design/ar/dev-adn671ta9breebis/redirect/categories/1467388446">
    <img class="w-[100vw]" src="{{component.image}}" />
    </a>
 

  
   </div>
 
 </div>
