{# 
<div class="px-5 py-5">


    <iframe class="s-block--map__element  rounded-xl shadow-2xl ring-1 ring-gray-900/10 h-[200px] md:h-[700px]" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14337.049186288179!2d32.2321165!3d26.0576829!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1448d118b39a0ff9%3A0x1266a2d07bca4e96!2sNagaa%20Hammadi%2C%20Madinet%20Najaa%20Hammadi%2C%20Nag%20Hammadi%2C%20Qena%20Governorate%2C%20Egypt!5e0!3m2!1sen!2snl!4v1698620958206!5m2!1sen!2snl"></iframe>
    </div> #}

<div class="flex justify-center mt-24 items-center">
    <div class="text-6xl">We are honored by your visit</div>
</div>

<div class="flex justify-center items-center">
    <div>We are available to serve you seven days a week from 8 am to 11 pm</div>
</div>


    <div class="relative overflow-hidden pt-8 ">
        
        <div class="px-3">
        <iframe class="s-block--map__element mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10 h-[350px] md:h-[700px]" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14337.049186288179!2d32.2321165!3d26.0576829!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1448d118b39a0ff9%3A0x1266a2d07bca4e96!2sNagaa%20Hammadi%2C%20Madinet%20Najaa%20Hammadi%2C%20Nag%20Hammadi%2C%20Qena%20Governorate%2C%20Egypt!5e0!3m2!1sen!2snl!4v1698620958206!5m2!1sen!2snl" ></iframe>
   
       </div>
    
        </div>