<h1>ggggggggggggggggggggggg</h1>
<section class="s-block s-block--default-home-slider s-block--custom-width-home-slider">
    <salla-slider show-controls='false'>
        <div slot="items">
            {% for banner in component.item %}
                <h1  class="mb-3">{{banner.title}}</h1>
            {% endfor %}
        </div>
    </salla-slider</section>