<section class="s-block s-block--categories">
<div class="">


<img class="bg-cover secImg w-full h-96" src="{{component.bg_image}}" />
<div class="secTitle">
<h1  class="mb-3">{{component.title}}</h1>
<p class="mb-8">{{component.subtitle}}</p>
<a  href="{{component.url}}">
<p class="secBtn "> عرض الكل</p>
</a>

</div>






</div>

</section>