<section class="relative overflow-hidden h-[44rem] sm:h-[47rem] md:h-[50rem]" >
  <div
    class="slider-bg"
  >
    <img src="{{ component.bg_image }}" class="w-[100vw] h-[67vh] relative" />

    <div class="absolute top-10 rtl:left-10 ltr:right-10 text-white w-fit justify-center items-center">
      <a href="https://zekraa.com/latest-products" class="no-underline w-[6rem] h-10 border border-white bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 hover:scale-110 transition-transform duration-300 ease-in-out rounde-lg  flex justify-center items-center">
        {{trans('blocks.hoome.showAll')}}
      </a>
    </div>
  </div>

  <br />
  <div
    class="container px-16 relative overflow-hidden"
    style="margin-top: 1%; top: -300px"
  >
    <salla-products-slider
      source="latest"
      show-controls="false"
      style="color: white; height: 50%"
      class="s-products-slider-wrapper hydrated"
      limit="20"
      autoplay
      display-all-url=""
      block-title=""
      block-subtitle=""
      slider-id="slider-with-bg-5"
    >
      <custom-salla-product-card minimal="true" full-image="false" special="false">
      </custom-salla-product-card>
    </salla-products-slider>
  </div>
</section>
