<salla-slider id="advanced-slider-0" loop show-controls="false" slider-config="{
										"effect": "fade",
										"slidesPerView":1,
										"speed": 2000,
										"autoplay": {"delay":5000},
										"allowTouchMove": true
									  }" class="s-slider-wrapper s-slider-has-notitle s-slider-v-centered s-slider-horizontal hydrated" block-title block-subtitle display-all-url direction="rtl">
<div class="swiper s-slider-container swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-watch-progress swiper-backface-hidden" dir="rtl">


<div class="swiper-wrapper s-slider-swiper-wrapper" aria-live="off" style="transition-duration: 2000ms;">
<h1>one</h1>
</div>

<div class="swiper-wrapper s-slider-swiper-wrapper" aria-live="off" style="transition-duration: 2000ms;">
<h1>two</h1>
</div>

<div class="swiper-wrapper s-slider-swiper-wrapper" aria-live="off" style="transition-duration: 2000ms;">
<h1>three</h1>
</div>

<div class="swiper-wrapper s-slider-swiper-wrapper" aria-live="off" style="transition-duration: 2000ms;">
<h1>four</h1>
</div>

<div class="swiper-wrapper s-slider-swiper-wrapper" aria-live="off" style="transition-duration: 2000ms;">
<h1>five</h1>
</div>




</div>
</salla-slider>