<div class="mt-5">
    <salla-products-slider source="latest" class="s-products-slider-wrapper hydrated" limit="20" autoplay   display-all-url="" block-title="Roya Palo" block-subtitle="" slider-id="slider-with-bg-5">

    </salla-products-slider>
</div>