<section class="s-block s-block--categories">
<div class="container">

<div>
<img class="bg-cover" src="{{component.head_image}}" />
</div>
<div class="grid grid-cols-2  gap-4">
<img class="rounded " src="{{component.right_image}}" />
    <img class=" rounded " src="{{component.left_image}}" />
</div>

</div>

</section>