<div class=" conteiner   w-[100vw] my-5" style="position: relative ; ">

   {# <div class="w-[100vw] bg-cover" style="background-image: url('{{ component.image }}'); height: 700px; "></div> #}
   <img class="w-[100vw]" src="{{component.image}}" />
   

   {# <div  >
      <a href="https://salla.design/ar/dev-adn671ta9breebis/redirect/categories/1891285758" type="button" class="py-[10%] px-[5px] inline-flex items-center gap-x-4 text-3xl font-semibold rounded-lg border-4 border-#FEEED9 text-#FEEED9 hover:border-[6px] hover:text-#FEEED9 disabled:opacity-50 disabled:pointer-events-none dark:border-#FEEED9 dark:text-#FEEED9 dark:hover:text-#FEEED9 :hover:border-gray-400 dark:focus:outline-none dark:focus:ring-1 :focus:ring-white">
         <span class="text-#FEEED9">تسوق الان</span>
     </a>
     
   </div> #}

   <div style="position: absolute; top: 80%;left: 50%; transform: translate(-50%, -50%); z-index: 1;" class="md:top-[40%] flex justify-center items-center" >
      <a href="https://salla.design/dev-adn671ta9breebis/latest-products" class="no-underline w-[6rem] h-10 border text-white border-white bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 hover:scale-110 transition-transform duration-300 ease-in-out rounde-lg  flex justify-center items-center">
        عرض الكل
      </a>
    </div>
  </div>

</div>
