<div class=" conteiner   w-[100vw] my-5" style="position: relative ; ">

   
   <img class="w-[100vw] h-[80vh]" src="{{component.image}}" />
   

   

   <div style="position: absolute; top: 80%;left: 50%; transform: translate(-50%, -50%); z-index: 1;" class="md:top-[40%] flex justify-center items-center" >
      <a href="{{component.dropdown_listt[0].url}}" class="no-underline w-[6rem] h-10 border text-white border-white bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 hover:scale-110 transition-transform duration-300 ease-in-out rounde-lg  flex justify-center items-center">
        {{trans('blocks.hoome.showAll')}}
      </a>
    </div>
  </div>

</div>
