<section class="s-block s-block--categories">
<div class="container">

<div>
<img class="bg-cover  " src="{{component.bg_image}}" />
<h1 class="secTitle" >{{component.title}}</h1>
<h4>{{component.subtitle}}</h4>
</div>


</div>

</section>