<section>
  <div class="relative overflow-hidden h-[44rem] sm:h-[47rem] md:h-[50rem]">
    <div>
      <video
        playsinline=""
        class="object-cover object-center w-full h-[566px]"
        loop="loop"
        autoplay="autoplay"
        muted="muted"
        src=" https://alrowadit.com/zekra/07video.m4v"
      ></video>
    </div>

    <div
      class="container px-16 relative overflow-hidden"
      style="margin-top: 1%; top: -250px"
    >
      <salla-products-slider
        source="categories"
        source-value="478695922"
        show-controls="false"
        style="color: white; height: 50%"
        class="s-products-slider-wrapper hydrated"
        limit="20"
        autoplay
        display-all-url=""
        block-title="Accessories"
        block-subtitle=""
        slider-id="slider-with-bg-5"
      >
        <custom-salla-product-card minimal="true" full-image="false" special="false">
        </custom-salla-product-card>
      </salla-products-slider>
    </div>
  </div>
</section>
