{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | | cart.items_count | int | | | cart.total | string | Formatted total ex:
"١٠٠ ر.س" | #}
<header class="flex flex-col">
  <section
    class="flex justify-between items-center border:border-b border-b-2 border-green-300 h-[2.2rem]"
  >
  <a href="https://salla.sa/dev-adn671ta9breebis/policies/page-1929369537" color="light">ll</a>
    <div class="mr-5">
      <div class="header-buttons">
        {% if store.settings.is_multilingual or store.currencies_enabled %}
        <button
          type="button"
          onclick="salla.event.dispatch(`localization::open`)"
          class="rounded-xl px-3 basis-0 flex items-center font-[600]"
        >
          <span class="flex items-center">
            <i class="icon sicon-earth ml-1 mt-1.5"></i>
            <span>{{ user.language.name }}</span>
          </span>
          <i class="icon sicon-arrow-down text-[13px] mt-1.5 mx-1"></i>
        </button> 
        <salla-localization-modal></salla-localization-modal>
        {% endif %}
      </div>
    </div>
    <div class="ml-[15%] flex">
      {% component 'footer.contacts' with {is_header:true} %}
    </div>
  </section><a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
    <i class="sicon-menu text-primary text-2xl">ll</i>
  </a>
  <section class="grid grid-cols-12 mt-3 h-[7rem] px-6">
    <div class="col-span-4 border border-red-500 flex items-center">menu</div>
    <div
      class="col-span-4 flex justify-center items-center w-full border border: border-black"
    >
      <a href="{{ store.url }}">
        <img
          class="w-[3rem] h-[3rem] rounded-full"
          src="{{ store.logo }}"
          alt="{{ store.name }}"
        />
      </a>
    </div>
    <div
      class="col-span-4 flex justify-end items-center text-center border-amber-500 border"
    >
      <div>
        <button
          onclick="salla.event.dispatch('search::open')"
          class=" search-btn"
        >
          <span class="sicon-search"></span>
        </button>
        <div class="header-search flex-1">
          <salla-search-modal inline oval height="36"></salla-search-modal>
        </div>
      </div>
      {% if user.type == "user" %}
      <salla-user-menu></salla-user-menu>
      {% else %}
      <a
        class="text-lg mx-3"
        style="cursor: pointer !important"
        onclick="salla.event.dispatch('login::open')"
      >
        <i class="icon sicon-user"></i>
      </a>
      {% endif %}
      <salla-cart-summary class="mr-2">
        <i slot="icon" class="icon sicon-cart text-xl leading-none"></i>
      </salla-cart-summary>
    </div>
  </section>
</header>
