{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | | cart.items_count | int | | | cart.total | string | Formatted total ex:
"١٠٠ ر.س" | #}
<header class="flex flex-col">
  <section
    class="flex items-center justify-between border:border-b border-b-2 border-white h-[2.2rem]"
  >
  <ul class="lg:flex justify-evenly hidden text-white">
    <li class="text-[0.9rem] font-[400] hover:text-gray-300 hover:shadow-md hover:font-semibold hover:opacity-90"><a href="#">طرق الدفع</a></li>
    <span class="mx-2">|</span>
    <li class="text-[0.9rem] font-[400] hover:text-gray-300 hover:shadow-md hover:font-semibold hover:opacity-90"><a href="#">سياسة الإستبدال والاسترجاع</a></li>
    <span class="mx-2">|</span>
    <li class="text-[0.9rem] font-[400] hover:text-gray-300 hover:shadow-md hover:font-semibold hover:opacity-90"><a href="#">سياسة الضمان</a></li>
    <li class="mr-2">
      {% if store.settings.is_multilingual or store.currencies_enabled %}
        <button
          type="button"
          onclick="salla.event.dispatch(`localization::open`)"
          class="rounded-xl px-3 basis-0 flex items-center font-[600]"
        >
          <span class="flex items-center">
            <i class="icon sicon-earth ml-1 mt-1.5"></i>
            <span>{{ user.language.name }}</span>
          </span>
          <i class="icon sicon-arrow-down text-[13px] mt-1.5 mx-1"></i>
        </button> 
        <salla-localization-modal></salla-localization-modal>
        {% endif %}
    </li>
  </ul>
    <div class="ml-[10%] flex">
      {% component 'footer.contacts' with {is_header:true} %}
    </div>
  </section>
  <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4"
  href="#mobile-menu" aria-label="Open-menu">
    <i class="sicon-menu text-primary text-2xl"></i>
  </a>
  <a  href="https://salla.sa/dev-adn671ta9breebis/ggggggggg/page-424193403">
    <p class="secBtn " style="border: 2px solid white; width:25%; padding-bottom: 10px; text-align: center;   border-radius: 30px;"> عرض الكل</p>
    </a>
  <section class="grid grid-cols-12 mt-3 h-[7rem] px-6">
    <div class="col-span-5 flex items-center flex-nowrap">
      {% component 'header.menu' %}
    </div>
    <div
      class="col-span-3 flex justify-center items-center w-full"
    >
      <a href="{{ store.url }}">
        <img
          class="w-[5rem] h-[5rem] rounded-full"
          src="{{ store.logo }}"
          alt="{{ store.name }}"
        />
      </a>
    </div>
    <div
      class="col-span-4 flex justify-end items-center text-center"
    >
      <div>
        <button
          onclick="salla.event.dispatch('search::open')"
          class=" search-btn"
        >
          <span class="sicon-search"></span>
        </button>
        <div class="header-search flex-1">
          <salla-search-modal inline oval height="36"></salla-search-modal>
        </div>
      </div>
      {% if user.type == "user" %}
      <salla-user-menu></salla-user-menu>
      {% else %}
      <a
        class="text-lg mx-3"
        style="cursor: pointer !important"
        onclick="salla.event.dispatch('login::open')"
      >
        <i class="icon sicon-user"></i>
      </a>
      {% endif %}
      <salla-cart-summary class="mr-2">
        <i slot="icon" class="icon sicon-cart text-xl leading-none"></i>
      </salla-cart-summary>
    </div>
  </section>
</header>