{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | | cart.items_count | int | | | cart.total | string | Formatted total ex:
"١٠٠ ر.س" | #}
{# <div
  class="z-40 h-[14rem] w-screen bg-[#8d8d7e] opacity-70 absolute hidden rounded-lg"
  id="backBlur"
></div> #}
<header class="flex flex-col z-50 absolute" id="main-header">
  <section
    id="headerTop"
    class="flex justify-between items-center border-b border-white h-[2.6rem] w-[100vw]"
  >
    {#
    <a
      href="https://salla.sa/dev-adn671ta9breebis/policies/page-1929369537"
      fill="solid"
      color="light"
      >ll</a
    >
    #}
    <div class="mr-[7%] flex">
      <div class="header-buttons mr-5">
        {% if store.settings.is_multilingual or store.currencies_enabled %}
        <button
          type="button"
          onclick="salla.event.dispatch(`localization::open`)"
          class="rounded-xl px-3 basis-0 flex items-center font-[600]"
        >
          <span class="flex items-center text-white">
            <i class="icon sicon-earth ml-1 mt-1.5"></i>
            <span class="font-normal">اللغة / العملة</span>
          </span>
          {# <i class="icon sicon-arrow-down text-[13px] mt-1.5 mx-1"></i> #}
        </button>
        <salla-localization-modal></salla-localization-modal>
        {% endif %}
      </div>
    </div>
    <div class="ml-[7%] flex text-white">
      {% component 'footer.contacts' with {is_header:true} %}
    </div>
  </section>
  <a
    class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4"
    href="#mobile-menu"
    aria-label="Open-menu"
  >
    <i class="sicon-menu text-primary text-2xl white"></i>
  </a>
  <section class="grid grid-cols-12 mt-3 h-[5rem]">
    <div class="col-span-4 flex items-center flex-nowrap w-100 pr-[10%]">
      {% component 'header.menu' %}
    </div>
    <div class="col-span-4 flex justify-center items-center w-10/12 mr-8">
      <a href="{{ store.url }}">
        <img
          class="w-[9rem] h-[9rem] rounded-full"
          src="{{ store.logo }}"
          alt="{{ store.name }}"
        />
      </a>
    </div>
    <div class="col-span-4 flex justify-end items-center text-center pl-[13%]">
      <div>
        <button
          onclick="salla.event.dispatch('search::open')"
          class="search-btn"
        >
          <span class="sicon-search text-white text-2xl"></span>
        </button>
        <div class="header-search flex-1">
          <salla-search-modal inline oval height="36"></salla-search-modal>
        </div>
      </div>
      {% if user.type == "user" %}
      <salla-user-menu></salla-user-menu>
      {% else %}
      <a
        class="text-lg mx-3"
        style="cursor: pointer !important"
        onclick="salla.event.dispatch('login::open')"
      >
        <i class="icon sicon-user text-white text-2xl"></i>
      </a>
      {% endif %}
      <salla-cart-summary class="mr-2 white">
        <i
          slot="icon"
          class="icon sicon-cart text-2xl leading-none"
          style="color: white !important"
        ></i>
      </salla-cart-summary>
    </div>
  </section>
</header>

<script>
  const header = document.getElementById("main-header");
  const backBlur = document.getElementById("backBlur");
  const headerTop = document.getElementById("headerTop");
  const scrollThreshold = 300;
  window.addEventListener("scroll", function () {
    const scrollY = window.scrollY || window.pageYOffset;
    if (scrollY > scrollThreshold) {
      header.classList.add(
        "sticky",
        "top-0",
        "translate-y-[-100%]",
        "transition-all",
        "duration-300"
      );
      header.classList.remove("absolute");
      backBlur.classList.remove("hidden");
      backBlur.classList.add(
        "sticky",
        "top-0",
        "translate-y-[-100%]",
        "transition-all",
        "duration-300"
      );
    } else {
      header.classList.add("absolute");
      header.classList.remove("sticky", "translate-y-[-100%]");
      backBlur.classList.add("hidden", "translate-y-[-100%]");
    }
    // Trigger reflow to ensure transitions are applied smoothly
    void header.offsetWidth;
    void backBlur.offsetWidth;
    if (scrollY > scrollThreshold) {
      header.classList.remove("translate-y-[-100%]");
      backBlur.classList.remove("translate-y-[-100%]");
    }
  });
</script>
